<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="headLink">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Custom fonts for this template -->
        <link th:href="@{/sb2/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link th:href="@{/sb2/css/sb-admin-2.min.css}" rel="stylesheet">

        <!-- Custom styles for this page -->
        <link th:href="@{/sb2/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

        <link th:href="@{/sb2/css/main.css}" rel="stylesheet">
        <link th:href="@{/sb2/css/navbar.css}" rel="stylesheet">
    </th:block>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <a th:href="@{/create_family}" class="navbar-brand font-weight-bold">Quản Lý Tàng Thư Hộ Khẩu</a>
            <button type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbars" aria-expanded="false"
                    aria-label="Toggle navigation" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <!-- Level one dropdown -->
                    <li class="nav-item dropdown">
                        <a id="functionMenu" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link dropdown-toggle">
                            Chức Năng
                        </a>
                        <ul aria-labelledby="functionMenu" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">Nhập Sinh </a></li>
                            <li class="dropdown-divider"></li>
                            <!-- Level two dropdown-->
                            <li>
                                <a th:href="@{/dead/dead}" class="dropdown-item">Khai Tử</a>
                            </li>
                            <!-- End Level two -->
                            <!-- Level two dropdown-->
                            <li class="dropdown-submenu">
                                <a id="functionMenuTranfer" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">
                                    Chuyển Đến
                                </a>
                                <ul aria-labelledby="functionMenuTranfer" class="dropdown-menu border-0 shadow">
                                    <li><a th:href="@{/create_family/}" class="dropdown-item">Tạo Hộ Khẩu </a></li>
                                    <li><a th:href="@{/create_people/}" class="dropdown-item">Tạo Nhân Khẩu </a></li>
                                </ul>
                            </li>
                            <!-- End Level two -->
                            <!-- Level two dropdown-->
                            <li class="dropdown-submenu">
                                <a id="functionMenuMove" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">
                                    Chuyển Đi
                                </a>
                                <ul aria-labelledby="functionMenuMove" class="dropdown-menu border-0 shadow">
                                    <li>
                                        <a tabindex="-1" th:href="@{/move_people/inside}" class="dropdown-item">CHuyển Đi Trong Xã</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" th:href="@{/move_people/outside}" class="dropdown-item">CHuyển Đi Ngoài Xã</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Level two -->
                            <!-- Level two dropdown-->
                            <li>
                                <a th:href="@{/slice_two_family}" class="dropdown-item">Tách Hộ</a>
                            </li>
                            <!-- End Level two -->
                        </ul>
                    <li class="nav-item">
                        <a th:href="@{/history/}" class="nav-link">Thống Kê</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="functionAccount" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link dropdown-toggle">
                            Tài Khoản
                        </a>
                        <ul aria-labelledby="functionAccount" class="dropdown-menu border-0 shadow">
                            <li><a th:href='@{/user/changePassword}' class="dropdown-item">Thông tin người dùng</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a th:href="@{/logout}" class="dropdown-item">Đăng Xuất </a></li>
                        </ul>
                    </li>
<!--                    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>

<footer th:fragment="footer">
    <div>
        Thực Hiện Bởi
    </div>
</footer>
<th:block th:fragment="jsfiles">
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/sb2/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/sb2/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/sb2/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/sb2/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/sb2/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/sb2/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/sb2/js/demo/datatables-demo.js}"></script>
    <script th:src="@{/sb2/js/navbar.js}"></script>
    <script th:src="@{/js/static_value.js}"></script>
</th:block>
</body>
</html>