<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Đổi mật khẩu</title>
    <th:block th:replace="/user/layout::head"></th:block>
</head>
<body>
<th:block th:replace="/user/layout::header"></th:block>

<section class="container">
    <h2>Đổi mật khẩu</h2>
    <th:block th:if="${message}">
        <div class="alert alert-success" role="alert">
            <span class="message" th:text="${message}"></span>
        </div>
    </th:block>
    <article>
        <h1></h1>
        <div class="row">
            <div class="col-md-6 col">
                <form th:action="@{/user/changePassword}" th:object="${userUpFile}"
                      method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputUserName">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="inputUserName" placeholder="Nhập Tên Đăng Nhập" name="username" th:field="*{username}" required disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputFullName">Mật khẩu</label>
                        <input type="password" class="form-control" id="inputFullName" placeholder="Nhập mật khẩu của bạn" name="password" th:field="*{password}" required>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ảnh</label>
                        <div class="col-sm-12">
                            <input type="file" name="fileDatas" th:field="*{fileDatas}"/>
                            <input th:type="hidden" name="picture" th:field="*{picture}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Thay đổi</button>
                </form>
            </div>
            <div class="col-md-6">
                <label>Ảnh</label></br>
                <img th:src="@{__${#httpServletRequest.scheme + '://' + #httpServletRequest.serverName + ':' + #httpServletRequest.serverPort}__/} + ${picture}"
                                             height=120 width=120>
            </div>
        </div>
    </article>
</section>

<th:block th:replace="/user/layout::footer"></th:block>d

<th:block th:replace="/user/layout::jsfiles"></th:block>
</body>
</html>