
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/layout::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="/admin/layout::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="/admin/layout::topbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">City</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Create Citys</h6>

                        <th:block th:if="${message}">
                            <div class="alert alert-success" role="alert">
                                <span class="message" th:text="${message}"></span>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" th:action="@{/admin/create-city}" th:object="${city}"
                              method="post">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">guild</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="guild" th:field="*{guild}">
                                    <th:block th:if="${#fields.hasErrors('guild')}" th:errors="*{guild}">guild Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">idDistrict</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="idDistrict" th:field="*{idDistrict}">
                                    <th:block th:if="${#fields.hasErrors('idDistrict')}" th:errors="*{idDistrict}">idDistrict Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">district</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="district" th:field="*{district}">
                                    <th:block th:if="${#fields.hasErrors('district')}" th:errors="*{district}">district Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">idCity</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="idCity" th:field="*{idCity}">
                                    <th:block th:if="${#fields.hasErrors('idCity')}" th:errors="*{idCity}">idCity Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">city</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="city" th:field="*{city}">
                                    <th:block th:if="${#fields.hasErrors('city')}" th:errors="*{city}">city Error</th:block>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="reset" class="btn btn-secondary btn-flat">Reset</button>
                                <button type="submit" class="btn btn-primary btn-flat float-right">Create city
                                </button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="/admin/layout::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<th:block th:replace="/admin/layout::topbtn"></th:block>

<!-- Logout Modal-->
<th:block th:replace="/admin/layout::logoutmodal"></th:block>

<th:block th:replace="/admin/layout::jsfiles"></th:block>
</body>

</html>
