<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{/sb2/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link th:href="@{/sb2/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/sb2/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body>
<th:block th:fragment="sidebar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin/citys}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-balance-scale"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Quản Lý Tàng Thư Hộ Khẩu</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/citys}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCity" aria-expanded="true" aria-controls="collapseCity">
                <i class="fas fa-fw fa-table"></i>
                <span>City</span>
            </a>
            <div id="collapseCity" class="collapse" aria-labelledby="headingCity" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom City:</h6>
                    <a class="collapse-item" th:href="@{/admin/citys}">List</a>
                    <a class="collapse-item" th:href="@{/admin/create-city}">Create</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEthnic" aria-expanded="true" aria-controls="collapseEthnic">
                <i class="fas fa-fw fa-table"></i>
                <span>Ethnic</span>
            </a>
            <div id="collapseEthnic" class="collapse" aria-labelledby="headingEthnic" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Ethnic:</h6>
                    <a class="collapse-item" th:href="@{/admin/ethnics}">List</a>
                    <a class="collapse-item" th:href="@{/admin/create-ethnic}">Create</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFamily" aria-expanded="true" aria-controls="collapseFamily">
                <i class="fas fa-fw fa-table"></i>
                <span>Family</span>
            </a>
            <div id="collapseFamily" class="collapse" aria-labelledby="headingFamily" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Family:</h6>
                    <a class="collapse-item" th:href="@{/admin/familys}">List</a>
                    <a class="collapse-item" th:href="@{/admin/create-family}">Create</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePerson" aria-expanded="true" aria-controls="collapsePerson">
                <i class="fas fa-fw fa-table"></i>
                <span>Person</span>
            </a>
            <div id="collapsePerson" class="collapse" aria-labelledby="headingPerson" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Person:</h6>
                    <a class="collapse-item" th:href="@{/admin/persons}">List</a>
                    <a class="collapse-item" th:href="@{/admin/create-person}">Create</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRelationship" aria-expanded="true" aria-controls="collapseRelationship">
                <i class="fas fa-fw fa-table"></i>
                <span>Relationship</span>
            </a>
            <div id="collapseRelationship" class="collapse" aria-labelledby="headingRelationship" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Relationship:</h6>
                    <a class="collapse-item" th:href="@{/admin/relationships}">List</a>
                    <a class="collapse-item" th:href="@{/admin/create-relationship}">Create</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReligion" aria-expanded="true" aria-controls="collapseReligion">
                <i class="fas fa-fw fa-table"></i>
                <span>Religion</span>
            </a>
            <div id="collapseReligion" class="collapse" aria-labelledby="headingReligion" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Religion:</h6>
                    <a class="collapse-item" th:href="@{/admin/religions}">List</a>
                    <a class="collapse-item" th:href="@{/admin/create-religion}">Create</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
                <i class="fas fa-fw fa-table"></i>
                <span>User</span>
            </a>
            <div id="collapseUser" class="collapse" aria-labelledby="headingUser" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom User:</h6>
                    <a class="collapse-item" th:href="@{/admin/users}">List</a>
                    <a class="collapse-item" th:href="@{/admin/create-user/1}">Create</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVillage" aria-expanded="true" aria-controls="collapseVillage">
                <i class="fas fa-fw fa-table"></i>
                <span>Village</span>
            </a>
            <div id="collapseVillage" class="collapse" aria-labelledby="headingVillage" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Village:</h6>
                    <a class="collapse-item" th:href="@{/admin/villages}">List</a>
                    <a class="collapse-item" th:href="@{/admin/create-village}">Create</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
</th:block>

<th:block th:fragment="topbar">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                    <img class="img-profile rounded-circle" alt="No Img">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" th:href="@{/user/changePassword}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Thay Đổi Mật Khẩu
                    </a>
                    <a class="dropdown-item" th:href="@{/create_family}">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Trang Chủ
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Đăng Xuất
                    </a>
                </div>
            </li>

        </ul>

    </nav>
</th:block>

<th:block th:fragment="footer">
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
            </div>
        </div>
    </footer>
</th:block>

<th:block th:fragment="topbtn">
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</th:block>

<th:block th:fragment="logoutmodal">
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn đăng xuất không?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn đã sẵn sàng kết thúc phiên hiện tại của mình.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy bỏ</button>
                    <a class="btn btn-primary" th:href="@{/logout}">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="jsfiles">
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/sb2/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/sb2/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/sb2/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/sb2/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/sb2/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/sb2/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/sb2/js/demo/datatables-demo.js}"></script>
</th:block>
</body>
</html>
