
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/layout::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="/admin/layout::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="/admin/layout::topbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Person</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Create Persons</h6>

                        <th:block th:if="${message}">
                            <div class="alert alert-success" role="alert">
                                <span class="message" th:text="${message}"></span>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" th:action="@{/admin/create-person}" th:object="${person}"
                              method="post">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">fullName</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="fullName" th:field="*{fullName}">
                                    <th:block th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Family</label>
                                <div class="col-sm-12">
                                    <select name="family" class="form-control" th:field="*{family}">
                                        <th:block th:each="family : ${familys}">
                                            <option th:value="${family.id}" th:text="${family.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">sex</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="sex" th:field="*{sex}">
                                    <th:block th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">sex Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">birthDay</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="birthDay" th:field="*{birthDay}">
                                    <th:block th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}">birthDay Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">idCard</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="idCard" th:field="*{idCard}">
                                    <th:block th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}">idCard Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">passport</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="passport" th:field="*{passport}">
                                    <th:block th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}">passport Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">nativeCountry</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="nativeCountry" th:field="*{nativeCountry}">
                                    <th:block th:if="${#fields.hasErrors('nativeCountry')}" th:errors="*{nativeCountry}">nativeCountry Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ethnic</label>
                                <div class="col-sm-12">
                                    <select name="ethnic" class="form-control" th:field="*{ethnic}">
                                        <th:block th:each="ethnic : ${ethnics}">
                                            <option th:value="${ethnic.id}" th:text="${ethnic.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">business</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="business" th:field="*{business}">
                                    <th:block th:if="${#fields.hasErrors('business')}" th:errors="*{business}">business Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">phone</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="phone" th:field="*{phone}">
                                    <th:block th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Relationship</label>
                                <div class="col-sm-12">
                                    <select name="relationship" class="form-control" th:field="*{relationship}">
                                        <th:block th:each="relationship : ${relationships}">
                                            <option th:value="${relationship.id}" th:text="${relationship.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Religion</label>
                                <div class="col-sm-12">
                                    <select name="religion" class="form-control" th:field="*{religion}">
                                        <th:block th:each="religion : ${religions}">
                                            <option th:value="${religion.id}" th:text="${religion.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="reset" class="btn btn-secondary btn-flat">Reset</button>
                                <button type="submit" class="btn btn-primary btn-flat float-right">Create person
                                </button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="/admin/layout::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<th:block th:replace="/admin/layout::topbtn"></th:block>

<!-- Logout Modal-->
<th:block th:replace="/admin/layout::logoutmodal"></th:block>

<th:block th:replace="/admin/layout::jsfiles"></th:block>
</body>

</html>
