<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/layout::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="/admin/layout::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="/admin/layout::topbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Person</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Edit Persons</h6>

                        <th:block th:if="${message}">
                            <div class="alert alert-success" role="alert">
                                <span class="message" th:text="${message}"></span>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" th:action="@{/admin/edit-person}" th:object="${person}"
                              method="post">
                                <input th:type="hidden" name="id" th:field="*{id}">
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">fullName</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="fullName" th:field="*{fullName}"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Family</label>
                                    <div class="col-sm-12">
                                        <select name="family" class="form-control">
                                            <th:block th:each="p : ${familys}">
                                                <option th:value="${p.id}" th:text="${p.id}" th:selected="(${p.id} == *{family.id})"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">sex</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="sex" th:field="*{sex}"
                                               required>
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">birthDay</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="birthDay" th:field="*{birthDay}"
                                               required>
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">idCard</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="idCard" th:field="*{idCard}"
                                               required>
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">passport</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="passport" th:field="*{passport}"
                                               required>
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">nativeCountry</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="nativeCountry" th:field="*{nativeCountry}"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Ethnic</label>
                                    <div class="col-sm-12">
                                        <select name="ethnic" class="form-control">
                                            <th:block th:each="p : ${ethnics}">
                                                <option th:value="${p.id}" th:text="${p.id}" th:selected="(${p.id} == *{ethnic.id})"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">business</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="business" th:field="*{business}"
                                               required>
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">phone</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="phone" th:field="*{phone}"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Relationship</label>
                                    <div class="col-sm-12">
                                        <select name="relationship" class="form-control">
                                            <th:block th:each="p : ${relationships}">
                                                <option th:value="${p.id}" th:text="${p.id}" th:selected="(${p.id} == *{relationship.id})"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Religion</label>
                                    <div class="col-sm-12">
                                        <select name="religion" class="form-control">
                                            <th:block th:each="p : ${religions}">
                                                <option th:value="${p.id}" th:text="${p.id}" th:selected="(${p.id} == *{religion.id})"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="reset" class="btn btn-secondary btn-flat">Reset</button>
                                    <button type="submit" class="btn btn-primary btn-flat float-right">Edit Person
                                    </button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="/admin/layout::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<th:block th:replace="/admin/layout::topbtn"></th:block>

<!-- Logout Modal-->
<th:block th:replace="/admin/layout::logoutmodal"></th:block>

<th:block th:replace="/admin/layout::jsfiles"></th:block>
</body>

</html>
