<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/layout::head"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="/admin/layout::sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="/admin/layout::topbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Persons</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Persons</h6>
                        <div class="col-lg-3 mt-3">
                            <a th:href="@{/admin/create-person}" class="btn btn-block btn-primary btn-flat">Create</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr class="text-center">
                                    <th>fullName</th>
                                    <th>relationship_id</th>
                                    <th>sex</th>
                                    <th>birthDay</th>
                                    <th>idCard</th>
                                    <th>passport</th>
                                    <th>nativeCountry</th>
                                    <th>ethnic_id</th>
                                    <th>business</th>
                                    <th>phone</th>
                                    <th>family_id</th>
                                    <th>religion_id</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tbody>
                                <th:block th:each="person : ${persons}">
                                    <tr>
                                    <td th:text="${person.fullName}"></td>
                                <td th:text="${person.relationship.id}"></td>
                                    <td th:text="${person.sex}"></td>
                                    <td th:text="${person.birthDay}"></td>
                                    <td th:text="${person.idCard}"></td>
                                    <td th:text="${person.passport}"></td>
                                    <td th:text="${person.nativeCountry}"></td>
                                <td th:text="${person.ethnic.id}"></td>
                                    <td th:text="${person.business}"></td>
                                    <td th:text="${person.phone}"></td>
                                <td th:text="${person.family.id}"></td>
                                <td th:text="${person.religion.id}"></td>
                                        <td><a th:href="@{/admin/edit-person/__${person.id}__ }"
                                               class="btn btn-block btn-primary btn-flat">Edit</a></td>
                                        <td><a th:href="@{/admin/delete-person/__${person.id}__ }"
                                               class="btn btn-block btn-primary btn-flat"
                                               onclick="return confirm('Are you sure?')">Delete</a></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="/admin/layout::footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<th:block th:replace="/admin/layout::topbtn"></th:block>

<!-- Logout Modal-->
<th:block th:replace="/admin/layout::logoutmodal"></th:block>

<th:block th:replace="/admin/layout::jsfiles"></th:block>

</body>

</html>